certifi==2018.4.16
chardet==3.0.4
cx-Freeze==5.1.1
docutils==0.14
idna==2.6
img2pdf==0.2.4
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.9
kivy.deps.sdl2==0.1.17
Pillow==5.1.0
Pygments==2.2.0
PyPDF2==1.26.0
pypiwin32==223
pywin32==223
requests==2.19.1
urllib3==1.23
